@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* color */
  --black: #252a34;
  --white: #fdfdfd;
  --pink: #ff2e63;
  --mint: #08d9d6;
  --navy: #112d4e;
  --dark-gray: #393e46;
  --light-gray: #eaeaea;
  /* size */
  --content-Width: 100%;
  --content-Height: 100vh;
  /* padding */
  --padding1: 30px 0;
  --padding2: 0 30px;
  --side-padding: 0 100px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "GmarketSansMedium";
}

body {
  margin: 0 auto;
  overflow-x: hidden;
  color: var(--black);
  background-color: var(--light-gray);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

/* header */
#header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  line-height: 70px;
  position: fixed;
  top: 0;
  z-index: 1;
  background: var(--white);
}

#nav-icon {
  display: none;
  font-size: 2rem;
  position: absolute;
  left: 5%;
  top: 7%;
  cursor: pointer;
}

#nav-icon:hover {
  color: var(--pink);
}

#logo {
  font-size: 1.5rem;
  font-weight: 800;
  padding-left: 2rem;
}

#logo > a {
  font-weight: bolder;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
}

nav li a {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 1rem;
}

nav li a:hover {
  color: var(--pink);
  padding-bottom: 1.3rem;
  border-bottom: var(--pink) solid 0.3rem;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

#up {
  font-size: 3.5rem;
  position: fixed;
  bottom: 2%;
  right: 2%;
  color: var(--pink);
  display: none;
  z-index: 1;
}

#up:hover {
  color: var(--dark-gray);
}

#home {
  width: 100%;
  height: 100vh;
  background: var(--black);
  padding: 0 10%;
}

#home-text {
  padding-top: 25vh;
  font-size: 3rem;
  font-weight: 800;
  color: var(--white);
}

#home-text-description {
  margin-top: 10vh;
  font-size: 1.5rem;
  color: var(--white);
}

#down-btn {
  display: none;
  font-size: 1.5rem;
  color: var(--white);
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  text-align: center;
  height: 50px;
  line-height: 60px;
  border: 3px solid var(--pink);
  border-radius: 36px;
}

#down-btn:hover {
  background: var(--pink);
  transition: linear 0.3s;
}

h2 {
  font-size: 3rem;
  text-align: center;
  letter-spacing: -3px;
  display: inline-block;
  border-bottom: 7px solid var(--pink);
  margin: 3rem 0 5rem 0;
}

#about-me {
  position: relative;
  background-color: var(--light-gray);
  height: 100vh;
  text-align: center;
  /* padding: 0 5rem; */
  /* max-width: 1220px; */
}

#about-me img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20%;
  min-width: 250px;
}

#about-me-contents {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: start;
}

#about-me-contents h3 {
  font-size: 1.5rem;
  margin-bottom: 8%;
}

.about-contents {
  display: flex;
  flex-direction: column;
  margin-bottom: 7%;
}

.about-title {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 3%;
}

.profile,
.education,
.license,
.award {
  flex: 1;
}

#skill {
  text-align: center;
  background: white;
  /* transform: skew(0deg, -5deg); */
}

#skill-block {
  /* transform: skew(0deg, 5deg); */
  display: flex;
  padding-bottom: 5%;
  flex-wrap: wrap;
  max-width: 1240px;
  margin: 0 auto;
}

.skill-box {
  flex: 1;
  padding: 0 2rem;
}

.skill-contents {
  display: flex;
  align-items: center;
}

.skill-contents:last-child {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 5%;
}

.skill-contents img {
  width: 65px;
  margin-right: 1.3rem;
}

.skill-bar {
  background: var(--light-gray);
  width: 100%;
  height: 10px;
  position: relative;
  border-radius: 16px;
}

.skill-bar-html,
.skill-bar-css,
.skill-bar-js {
  position: absolute;
  height: 10px;
  width: 80%;
  background: var(--pink);
  border-radius: 16px;
}

.skill-bar-react,
.skill-bar-sc,
.skill-bar-git {
  position: absolute;
  height: 10px;
  width: 70%;
  background: var(--pink);
  border-radius: 16px;
}

.skill-bar-node {
  position: absolute;
  height: 10px;
  width: 50%;
  background: var(--pink);
  border-radius: 16px;
}

.skill-text {
  flex: 1;
  padding: 0 2rem;
  line-height: 5rem;
  text-align: end;
  letter-spacing: -2px;
}

.skill-text p {
  font-size: 1.5rem;
}

.skill-text span {
  font-size: 2rem;
  font-weight: 800;
  color: var(--pink);
  background: linear-gradient(to top, var(--light-gray) 50%, transparent 50%);
  padding: 0 1rem;
  letter-spacing: -3px;
  text-shadow: 2px 2px 4px gray;
}

#project {
  text-align: center;
  background-color: var(--light-gray);
  padding: var(--padding1);
  position: relative;
}

.swiper-slide {
  text-align: start;
  width: 80%;
  max-width: 450px;
  margin: 0 15px;
  border-radius: 30px;
  padding: 30px;
}

.swiper-slide.slide01,
.swiper-slide.slide02,
.swiper-slide.slide03,
.swiper-slide.slide04 {
  background-color: var(--white);
}

.project-title {
  text-align: center;
  font-weight: 800;
  font-size: 1.3rem;
}

.project-title > b {
  color: var(--pink);
  font-size: 1.5rem;
}

.project-img img {
  width: 100%;
  max-height: 350px;
}

.project-description {
  margin-bottom: 5%;
  padding: 0 15px;
  font-size: 0.9rem;
}

.project-description > p:first-child {
  margin-bottom: 5%;
}

.project-description > p > b {
  margin-right: 3%;
}
.project-button {
  display: flex;
  justify-content: space-between;
}

.project-button > a {
  display: inline-block;
  width: 45%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: 1px solid var(--pink);
  border-radius: 5px;
  font-size: 1rem;
}

.project-button > a:hover {
  background-color: var(--pink);
  transition: linear 0.3s;
  color: var(--white);
}

/* footer */
footer {
  text-align: center;
  color: white;
  background: var(--black);
}

#footer-contact {
  text-align: start;
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

form {
  flex: 1.5;
  padding-right: 3rem;
  border-right: solid 1px var(--light-gray);
}

form span {
  margin-bottom: 10px;
  font-weight: bold;
}

.input-box1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.input-box1 div {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.input-box2 div {
  display: flex;
  flex-direction: column;
}

.input-box2 textarea {
  height: 150px;
}

.input-box1 input,
.input-box2 textarea {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--pink);
  outline: none;
}

#error {
  color: var(--pink);
  font-size: 1rem;
  margin-top: 1rem;
}

#send-btn {
  margin-top: 20px;
  border-radius: 16px;
  background: transparent;
  border: 2px solid var(--pink);
  color: var(--white);
  width: 140px;
  height: 50px;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}

#send-btn:hover {
  background: var(--pink);
}

.sns {
  padding-left: 3rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 30px;
}

.sns-item {
  display: flex;
  flex-direction: column;
}

.footer-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.sns-text {
  font-size: 1rem;
  color: white;
}

.sns a {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.sns a i:hover {
  color: var(--pink);
}

.copyright {
  font-size: 1rem;
  text-align: center;
  color: var(--dark-gray);
  padding-bottom: 15px;
}

@media screen and (max-width: 768px) {
  #header {
    flex-direction: column;
  }

  nav {
    display: none;
    flex-direction: column;
    background-color: var(--white);
    text-align: center;
    padding: 0;
  }

  nav li:hover {
    width: 100%;
    background-color: var(--light-gray);
  }

  #nav-icon {
    display: block;
    color: var(--dark-gray);
  }

  #logo {
    text-align: center;
    padding: 0;
  }

  nav.active {
    display: flex;
  }

  #nav-icon.active {
    color: var(--pink);
  }

  #about-me {
    height: 100%;
    margin-bottom: 10%;
  }

  #about-me img {
    display: none;
  }

  #about-me-contents {
    text-align: center;
    display: block;
  }

  #about-me-contents ul {
    display: flex;
    margin-bottom: 10%;
  }

  #about-me-contents ul li {
    flex: 1;
  }

  #me-img,
  #me-info {
    width: 100%;
  }

  #me-info {
    padding: 0 15%;
  }

  .skill-box {
    order: 2;
    margin-bottom: 10%;
  }

  .skill-contents {
    width: 80%;
    margin: 0 auto;
  }

  .skill-contents:last-child {
    justify-content: space-between;
  }

  .skill-text {
    order: 1;
    text-align: center;
    margin-bottom: 13%;
    line-height: 3rem;
  }

  .me-info-block {
    margin: 25px 0;
  }

  #footer-contact {
    display: block;
  }

  form {
    border: 0;
    padding: 0;
  }

  .sns {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 4rem 0;
  }
}
