:root {
  /* color */
  --black: #252A34;
  --white: #FDFDFD;
  --pink: #FF2E63;
  --mint: #08D9D6;
  --navy: #112D4E;
  --dark-gray: #393E46;
  --light-gray: #EAEAEA;
  /* size */
  --content-Width: 100%;
  --content-Height: 100vh;
  /* padding */
  --padding1: 30px 0;
  --padding2: 0 30px;
  --side-padding: 0 100px;
}

* {
  margin: 0;
  padding: 0;
  /* #home-text color 오류남
  color: var(--black); */
}

body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* header */
#header {
  width: var(--content-Width);
  height: 70px;
  line-height: 70px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: var(--white);
}

#nav-icon {
  display: none;
  font-size: 25px;
  position: absolute;
  left: 40px;
  cursor: pointer;
}

#logo {
  padding-left: 5%;
  font-size: 25px;
  font-weight: bold;
}

.logo-text {
  color: var(--pink);
}

nav {
  padding-right: 5%;
  display: flex;
  justify-content: flex-end;
}

nav li a {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 20px;
}

nav li a:hover {
  color: var(--pink);
  padding-bottom: 21px;
  border-bottom: var(--pink) solid 3px;
}

#up {
  font-size: 40px;
  position: fixed;
  bottom: 2%;
  right: 2%;
  color: var(--light-gray);
  display: none;
}

#up:hover {
  color: var(--pink);
}

#home {
  background-image: url('img/background.jpg');
  background-size: cover;
  text-align: left;
}

#home-text {
  padding-top: 35vh;
  padding-left: 10%;
  font-size: 3rem;
  font-weight: bolder;
  color: var(--white);
  text-shadow: 10px 5px 20px var(--dark-gray);
}

#home-text-description {
  display: none;
  padding-top: 5vh;
  padding-left: 10%;
  font-size: 1rem;
  color: var(--black);
}

#down-btn {
  font-size: 30px;
  /* margin-top: 120px; */
  color: var(--dark-gray);
  display: none;
  position: absolute;
  bottom: 3%;
  left: 50%;
}

#down-btn:hover {
  color: var(--pink);
  text-shadow: 2px 2px 20px var(--pink);
}

#home,
#about-me
{
  width: var(--content-Width);
  height: var(--content-Height);
}

h2 {
  font-size: 60px;
  padding: var(--padding1);
  text-align: center;
  margin-bottom: 30px;
}

#about-me {
  background-color: var(--light-gray);
}

#about-me > section {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4rem;
  margin-top: 20px;
}

#me-img {
  /* margin-right: 10%; */
  flex: 1 1 35%;
  text-align: center;
}

#me-img img {
  width: 100%;
  max-width: 350px;
}

#me-info {
  flex: 1 1 55%;
  display: flex;
  flex-wrap: wrap;
}

.me-info-block {
  display: flex;
  width: 30%;
  align-items: center;
}

.me-info-block i {
  font-size: 50px;
  padding-right: 7%;
  /* flex: 1 1 40%; */
}

.me-info-block > div {
  /* flex: 1 1 50%; */
}

.me-info-block .me-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;

}

.me-info-block .me-sub {
  font-size: 20px;
}

#skill {
  padding-bottom: 50px;
}

#skill-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--side-padding);
}

.skill-box {
  width: 200px;
  height: 200px;
  background-color: var(--light-gray);
  margin: 20px;
  text-align: center;
  border-radius: 5px;
}

.skill-box > img {
  width: 90px;
  height: 120px;
  padding-top: 10px;
}

.skill-box-title {
  font-size: 20px;
  font-weight: bold;
  background-color: var(--pink);
  color: var(--white);
  padding: 7px 0;
  border-radius: 5px 5px 0 0;
}

.skill-box:hover {
  transform: scale(1.1);
  transition: linear 0.3s;
}

#project {
  background-color: var(--light-gray);
  padding: var(--padding1);
  position: relative;
}

.swiper-slide {
  width: 80%;
  max-width: 450px;
  margin: 0 15px;
}
.swiper-slide.slide01,
.swiper-slide.slide02,
.swiper-slide.slide03,
.swiper-slide.slide04, 
.swiper-slide.slide05,
.swiper-slide.slide06 {
  background-color: #f9f871;
}

.swiper-slide > div {
  text-align: center;
}

.pagination_container {
  width: 100%;
  height: 100%;
  padding: 30px 0;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid var(--pink);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 40px;
  transition: width .5s;
  border-radius: 5px;
  background-color: var(--pink);
  border: 1px solid transparent;
}

.project-title {
  margin: 20px 0;
  font-size: 20px;
}

.project-img img {
  width: 80%;
  height: 300px;
}

.project-description {
  margin-top: 20px;
}

.project-button {
  padding: 20px 0;
}

.project-button > button {
  width: 40%;
  padding: 10px 0;
  border: 1px solid var(--pink);
  background-color: var(--white);
}

.project-button > button:hover {
  background-color: var(--pink);
  transition: linear 0.3s;
  color: var(--white);
}

/* footer */
footer {
  width: var(--content-Width);
}

#footer-main {
  display: flex;
  width: var(--content-Width);
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 0 5% 0 15%;
  border-right: solid 1px var(--light-gray);
  margin-bottom: 30px;
}

form > section {
  margin-bottom: 30px;
}

#sec1 {
  display: flex;
  justify-content: space-between;
}

#sec1 > div {
  width: 48%;
}

textarea {
  height: 150px;
}

input,
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--pink);
}

input:focus,
textarea:focus {
  outline: none;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

form > section > div {
  display: flex;
  flex-direction: column;
}

#send-button {
  border-radius: 7px;
  background-color: var(--pink);
  border: 0;
  color: var(--white);
  width: 100px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

#sns {
  padding: 0 15% 0 5%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 30px;
}

#sns > div {
  display: flex;
  flex-direction: column;
}

.footer-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.sns-text {
  color: var(--dark-gray);
  font-size: 16px;
}

#sns-social > div > a {
  margin-right: 12px;
}

#sns a {
  font-size: 22px;
}

#sns a i:hover {
  color: var(--pink);
}

#copyright {
  font-size: 14px;
  text-align: center;
  color: var(--dark-gray);
  padding-bottom: 15px;
}

@media screen and (max-width: 768px) {
  #header {
    flex-direction: column;
  }

  nav {
    display: none;
    flex-direction: column;
    background-color: var(--white);
    text-align: center;
    padding: 0;
  }

  nav li:hover {
    width: 100%;
    background-color: var(--light-gray);
  }

  #nav-icon {
    display: block;
    color: var(--dark-gray);
  }

  #logo {
    text-align: center;
    padding: 0;
  }

  nav.active {
    display: flex;
  }

  #nav-icon.active {
    color: var(--pink);
  }

  #footer-main {
    display: block;
  }

  form {
    border: 0;
  }

  #sns {
    display: none;
  }
}