@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* color */
  --black: #252A34;
  --white: #FDFDFD;
  --pink: #FF2E63;
  --mint: #08D9D6;
  --navy: #112D4E;
  --dark-gray: #393E46;
  --light-gray: #EAEAEA;
  /* size */
  --content-Width: 100%;
  --content-Height: 100vh;
  /* padding */
  --padding1: 30px 0;
  --padding2: 0 30px;
  --side-padding: 0 100px;
}

* {
  margin: 0;
  padding: 0;
  /* #home-text color 오류남
  color: var(--black); */
  font-family: 'GmarketSansMedium';
}

body {
  margin: 0 auto;
  overflow-x: hidden;
  color: var(--black);
  background-color: var(--black);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* header */
#header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  line-height: 70px;
  position: fixed;
  top: 0;
  z-index: 1;
  background: var(--white);
}

#nav-icon {
  display: none;
  font-size: 2rem;
  position: absolute;
  left: 2rem;
  top: 0.3rem;
  cursor: pointer;
}

#logo {
  font-size: 1.5rem;
  font-weight: 800;
  padding-left: 2rem;
}

#logo > a {
  font-weight: bolder;
}

.logo-text {
  color: var(--pink);
}

nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
}

nav li a {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 1rem;
}

nav li a:hover {
  color: var(--pink);
  padding-bottom: 1.3rem;
  border-bottom: var(--pink) solid 0.3rem;
}

#up {
  font-size: 3.5rem;
  position: fixed;
  bottom: 2%;
  right: 2%;
  color: var(--pink);
  display: none;
  z-index: 1;
}

#up:hover {
  color: var(--dark-gray);
}

#home {
  width: 100%;
  height: 100vh;
  background: var(--black);
  text-align: start;
  padding: 0 10%;
}

#home-text {
  padding-top: 25vh;
  font-size: 3rem;
  font-weight: 800;
  color: var(--white);
}

#home-text-description {
  display: none;
  margin-top: 3rem;
  font-size: 1.5rem;
  color: var(--white);
}

#down-btn {
  display: none;
  font-size: 1.5rem;
  color: var(--white);
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  text-align: center;
  height: 50px;
  line-height: 60px;
  border: 3px solid var(--pink);
  border-radius: 36px;
}

#down-btn:hover {
  background: var(--pink);
  transition: linear 0.3s;
}

h2 {
  font-size: 3rem;
  text-align: center;
  letter-spacing: -3px;
  display: inline-block;
  border-bottom: 5px solid var(--pink);
  margin: 3rem 0;
}

#about-me {
  position: relative;
  background-color: var(--light-gray);
  height: 100vh;
  text-align: center;
}

#about-me-contents {
  display: flex;
  justify-content: space-around;
  padding: 0 5rem;
  flex-wrap: wrap;
  text-align: start;
}

#about-me-contents img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 300px;
}

#about-me-contents h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.profile {
  flex: 1;
}

.about-contents {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.about-title {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.education {
  flex: 1;
}

.license {
  flex: 1;
}

.award {
  flex: 1;
}

#skill {
  text-align: center;
  background: white;
  /* transform: skew(0deg, -10deg); */
}

#skill-block {
  /* transform: skew(0deg, 10deg); */
  padding: 0 10rem;
}

.skill-contents {
  display: flex;
  align-items: center;
}

.skill-contents img {
  width: 70px;
  margin-right: 1.5rem;
}

.skill-bar {
  background: var(--light-gray);
  width: 100%;
  height: 7px;
  position: relative;
  border-radius: 16px;
}

.skill-bar-html {
  position: absolute;
  height: 7px;
  width: 80%;
  background: var(--pink);
  border-radius: 16px;
}

#project {
  text-align: center;
  background-color: var(--light-gray);
  padding: var(--padding1);
  position: relative;
}

.swiper-slide {
  text-align: start;
  width: 80%;
  max-width: 450px;
  margin: 0 15px;
  border-radius: 30px;
  padding: 30px;
}

.swiper-slide.slide01,
.swiper-slide.slide02,
.swiper-slide.slide03,
.swiper-slide.slide04, 
.swiper-slide.slide05,
.swiper-slide.slide06 {
  background-color: var(--white);
}

.swiper-slide > div {
  /* text-align: center; */
}

.pagination_container {
  width: 100%;
  height: 100%;
  padding: 30px 0;
}

/* .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid var(--pink);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 40px;
  transition: width .5s;
  border-radius: 5px;
  background-color: var(--pink);
  border: 1px solid transparent;
} */

.project-title {
  text-align: center;
  font-weight: bolder;
  font-size: 22px;
  margin-bottom: 30px;
}

.project-title > b {
  color: var(--pink);
  font-size: 24px;
}

.project-img img {
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
}

.project-description {
  margin-bottom: 30px;
  padding: 0 15px;
}

.project-description > p:first-child {
  margin-bottom: 20px;
}

.project-description > p > b {
  margin-right: 10px;
}

.project-button {
  text-align: center;
}

.project-button > button {
  width: 45%;
  height: 50px;
  border: 1px solid var(--pink);
  border-radius: 5px;
  background-color: var(--white);
  font-size: 15px;
  cursor: pointer;
}

.project-button > button:hover {
  background-color: var(--pink);
  transition: linear 0.3s;
  color: var(--white);
}

.project-readme-Btn {
  margin-right: 20px;
}

/* footer */
footer {
  text-align: center;
  color: white;
}

#footer-contact {
  text-align: start;
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

form {
  flex: 1.5;
  padding-right: 3rem;
  border-right: solid 1px var(--light-gray);
}

form span {
  margin-bottom: 10px;
  font-weight: bold;
}

.input-box1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.input-box1 div {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.input-box2 div {
  display: flex;
  flex-direction: column;
}

.input-box2 textarea {
  height: 150px;
}

.input-box1 input,
.input-box2 textarea {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--pink);
  outline: none;
}

#error {
  color: var(--pink);
  font-size: 1rem;
  margin-top: 1rem;
}

#send-btn {
  margin-top: 20px;
  border-radius: 16px;
  background: transparent;
  border: 2px solid var(--pink);
  color: var(--white);
  width: 140px;
  height: 50px;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}

#send-btn:hover {
  background: var(--pink);
}

.sns {
  padding-left: 3rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 30px;
}

.sns-item {
  display: flex;
  flex-direction: column;
}

.footer-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.sns-text {
  font-size: 1rem;
  color: white;
}

.sns a {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.sns a i:hover {
  color: var(--pink);
}

.copyright {
  font-size: 1rem;
  text-align: center;
  color: var(--dark-gray);
  padding-bottom: 15px;
}

@media screen and (max-width: 768px) {
  #header {
    flex-direction: column;
  }

  nav {
    display: none;
    flex-direction: column;
    background-color: var(--white);
    text-align: center;
    padding: 0;
  }

  nav li:hover {
    width: 100%;
    background-color: var(--light-gray);
  }

  #nav-icon {
    display: block;
    color: var(--dark-gray);
  }

  #logo {
    text-align: center;
    padding: 0;
  }

  nav.active {
    display: flex;
  }

  #nav-icon.active {
    color: var(--pink);
  }

  #about-me {
    height: 100%;
  }

  #about-me-contents {
    text-align: center;
    display: block;
  }

  #about-me-contents img {
    display: none;
  }

  #me-img,
  #me-info {
    width: 100%;
  }

  #me-info {
    padding: 0 15%;
  }

  .me-info-block {
    margin: 25px 0;
  }

  #footer-contact {
    display: block;
  }

  form {
    border: 0;
    padding: 0;
  }

  .sns {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 4rem 0;
  }
}